{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ project.name }}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>{{ project.name }}</h1>
    <p>{{ project.description }}</p>
<!--    <a href="{{ project.link }}" target="_blank">Перейти к проекту</a>-->

    <!-- Дополнительный контент, который вы хотите отображать на странице проекта -->
    <!-- Отображение сообщения -->
    {% if message %}
        <p style="color: green;">{{ message }}</p>
    {% endif %}

    <!-- Форма для загрузки файла -->
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Загрузить файл</button>
</form>

<!--{% if message %}-->
<!--    <p>{{ message }}</p>-->
<!--{% endif %}-->

<!--{% if project %}-->
<!--    <h2>Проект: {{ project.name }}</h2>-->
<!--    <p>{{ project.description }}</p>-->
<!--    <a href="{{ project.link }}" target="_blank">Ссылка на проект</a>-->

<!--    {% if uploaded_file %}-->
<!--        <h3>Загруженный файл:</h3>-->
<!--        <a href="{{ uploaded_file.url }}" target="_blank">{{ uploaded_file.name }}</a>-->
<!--    {% else %}-->
<!--        <p>Файл не был загружен.</p>-->
<!--    {% endif %}-->
<!--{% endif %}-->
    <h3>Загруженные файлы:</h3>
{% if file_urls %}
    <ul>
        {% for file in file_urls %}
            <li><a href="{{ file.url }}" target="_blank">{{ file.name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>Файлы отсутствуют.</p>
{% endif %}

    </form>
</body>
</html>

</body>
</html>
